body {
    background-color: lightblue;
}

#chirp-field {
    border-width: 6px;
}

#chirp-btn {
    color: black;
}

#chirp-list {
    background-color: white;
}

#user-selector {
    background-color: lightslategray;
}

.chirp-box {
    background-color: orange;
}